{% extends 'base.html' %}
{% load static %}

{% block title  %} Cambiar Contraseña  {% endblock %}



{% block contenido %}

    <section class="u-align-center u-clearfix u-section-8" id="sec-114f">
      <section class="u-align-center u-clearfix u-section-8" id="sec-114f">
      <div class="u-clearfix u-sheet u-sheet-1"><span class="u-icon u-icon-circle u-spacing-10 u-white u-icon-1"></svg>
              <center><img src="{% static 'img/login.png' %}" width="40" height="40"></center>  
                
              </span>
        <center><h2>Cambiar contraseña</h2></center>
        <div class="u-expanded-width-xs u-form u-login-control u-form-1">
          <form action="#" method="POST" <class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
            {% csrf_token %}
            {{form.errors}}

            <div class="u-form-group u-form-name">
              <label for="old_password" class="u-label">Ingrese contraseña actual *</label>
              <input type="password" placeholder="" id="username-a30d" name="old_password" class="u-grey-5 u-input u-input-rectangle u-input-1" required="">
            </div>
            <div class="u-form-group u-form-password">
              <label for="new_password1" class="u-label">Ingrese una nueva contraseña *</label>
              <input type="password" placeholder="" id="password-a30d" name="new_password1" class="u-grey-5 u-input u-input-rectangle u-input-2" required="">
            </div>


            <div class="u-form-group u-form-password">
              <label for="new_password2" class="u-label">Reingrese contraseña *</label>
              <input type="password" placeholder="" id="password-a30d" name="new_password2" class="u-grey-5 u-input u-input-rectangle u-input-2" required="">
            </div>

            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-black u-border-none u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-btn-1">Cambiar contraseña</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
        
      </div>
    </section>




{% endblock contenido %}