{% extends 'base.html' %}
{% load static %}
{% block titulo %}<title>Perfil</title>{% endblock titulo %}
{% block contenido %}

     <section class="u-align-center u-clearfix u-section-6" id="carousel_f63d">
      <br>
       <div> 

        <a href="{% url 'post:publicar' %}"> <img src={% static 'img/hoja.png' %} width="20" height="20">&nbsp<strong>Publicar Post</strong></a>&nbsp&nbsp&nbsp


        <a href="{% url 'usuarios:actualizarPerfil' user.profile.pk %}"> <img src={% static 'img/perfil.png' %} width="20" height="20">&nbsp<strong>Editar Perfil</strong></a>

         <a href="{% url 'usuarios:passwordchange' %}"> <img src={% static 'img/llave.png' %} width="20" height="20">&nbsp<strong>Cambiar contraseña</strong></a>        
</div>


      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-text u-text-default u-text-1"> &nbsp;Mis Publicaciones<span style="font-weight: 400;"></span>
 </h3>
        <div class="u-blog u-pagination-center u-blog-1">         
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1">

          {% if posts %} 

                {% for post in posts %} 



            <div class="u-blog-post u-container-style u-palette-5-light-3 u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom-xs u-container-layout-1">

                <a class="u-post-header-link" href="{% url 'post:detalle' post.pk %}">
                  
                  <img src={{ post.imagen.url }} alt="" class="u-blog-control u-image u-image-default u-image-1">
                  

                </a>
                <h2 class="u-blog-control u-text u-text-2">
                  <a class="u-post-header-link" href="{% url 'post:detalle' post.pk %}">
                    {{ post.titulo }}</a>
                </h2>
                <div class="u-blog-control u-post-content u-text u-text-3">
                  {{ post.descripcion }}</div>
                <div class="u-blog-control u-metadata u-metadata-1">
                  <span class="u-meta-date u-meta-icon">  <strong> <a href="{% url 'post:eliminar_post' post.pk %}">Eliminar Post</a>&nbsp&nbsp&nbsp<a href="{% url 'post:actualizar_post' post.pk %}">Modificar Post</a> </strong></span>
                </div>
                <a href="{% url 'post:detalle' post.pk %}" class="u-black u-blog-control u-border-none u-btn u-button-style u-hover-palette-1-dark-1 u-btn-1">Ver más</a>
              </div>
            </div>

 
                    {% endfor %}

                    {% else %}

                        <h2> No existen Post</h2>

                    {% endif %}

  </div>

  </section> 
    
<br> 
<br> 
<br> 
<br> 



{% endblock contenido %}