{% extends 'base.html' %}

{% block contenido %}

<section class="u-align-left u-clearfix u-section-9" id="sec-4b9f">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-center u-container-style u-grey-5 u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h3 class="u-text u-text-default u-text-1">Necesita loguearse para publicar en nuestro sitio.&nbsp;</h3>
            <p class="u-text u-text-2">Para loguearse haga click <a href={% url 'login' %} class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">aquí</a>
            <p class="u-text u-text-2">Si no tiene cuenta regístrese <a href="#" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">aquí</a>
            </p>
          </div>
        </div>
      </div>
    </section>


{% endblock contenido %}