 .u-section-1 {
  background-image: url("images/clima1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 673px;
}

.u-section-1 .u-slider-1 {
  min-height: 587px;
  width: 471px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  left: 213px;
  right: auto;
  bottom: 23px;
}

.u-section-1 .u-carousel-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 80px 0;
}

.u-section-1 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/clima1.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  width: 136px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 35px auto 0;
}

.u-section-1 .u-carousel-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px 80px 0;
}

.u-section-1 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/pob.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  width: 136px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 35px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 0;
  position: absolute;
  right: auto;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

.u-section-1 .u-table-1 {
  width: 400px;
  margin: 30px auto 60px 0;
}

.u-block-c5a5-50 {
  height: 46px;
}

.u-block-c5a5-65 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
  }

  .u-section-1 .u-carousel-indicators-1 {
    bottom: 40px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-slider-1 {
    width: 360px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-1 .u-carousel-control-1 {
    width: 42px;
    height: 42px;
    top: 238px;
  }

  .u-section-1 .u-carousel-control-2 {
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 504px;
    margin-top: 196px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 539px;
}

.u-section-2 .u-group-1 {
  width: 455px;
  min-height: 417px;
  margin: 54px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 4px 30px;
}

.u-section-2 .u-image-1 {
  width: 342px;
  height: 149px;
  margin: 27px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 15px auto 0;
}

.u-section-2 .u-text-2 {
  width: 342px;
  margin: 15px auto 0;
}

.u-section-2 .u-btn-1 {
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: 148px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 138px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: 320px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 135px;
}.u-section-4 .u-sheet-1 {
  min-height: 552px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 20px 0 50px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-4 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-4 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  min-height: 801px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 443px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 365px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  font-size: 1.625rem;
  line-height: 1.4;
  margin: 14px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 365px;
  background-image: url("images/pobreza1.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 365px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 50px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 57px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-image-2 {
  min-height: 443px;
  background-image: url("images/sdg-cover-03.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 659px;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 365px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 301px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-image-1 {
    min-height: 301px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 301px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
  }

  .u-section-5 .u-text-6 {
    position: relative;
  }

  .u-section-5 .u-image-2 {
    min-height: 365px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1213px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 30px 50px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 461px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-2 {
    min-height: 559px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1341px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-1 {
    min-height: 629px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 419px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 953px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 396px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-5 .u-image-2 {
    min-height: 264px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1261px;
}

.u-section-6 .u-text-1 {
  font-weight: normal;
  margin: 80px auto 0;
}

.u-section-6 .u-blog-1 {
  width: 759px;
  margin: 74px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 866px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 28px;
}

.u-section-6 .u-image-1 {
  height: 216px;
  width: 301px;
  margin: 0 auto 0 2px;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -216px 0 0 344px;
}

.u-section-6 .u-text-3 {
  margin: 22px 2px 0 343px;
}

.u-section-6 .u-metadata-1 {
  margin: 20px auto 0 343px;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: normal;
  margin: 22px auto 0 343px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 28px;
}

.u-section-6 .u-image-2 {
  height: 216px;
  width: 301px;
  margin: 0 auto 0 2px;
}

.u-section-6 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -216px 0 0 344px;
}

.u-section-6 .u-text-5 {
  margin: 22px 2px 0 343px;
}

.u-section-6 .u-metadata-2 {
  margin: 20px auto 0 343px;
}

.u-section-6 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: normal;
  margin: 22px auto 0 343px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 28px;
}

.u-section-6 .u-image-3 {
  height: 216px;
  width: 301px;
  margin: 0 auto 0 2px;
}

.u-section-6 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -216px 0 0 344px;
}

.u-section-6 .u-text-7 {
  margin: 22px 2px 0 343px;
}

.u-section-6 .u-metadata-3 {
  margin: 20px auto 0 343px;
}

.u-section-6 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: normal;
  margin: 22px auto 0 343px;
}

.u-section-6 .u-table-1 {
  width: 400px;
  margin: 20px auto 0;
}

.u-block-72db-73 {
  height: 46px;
}

.u-block-72db-80 {
  height: 46px;
}

.u-section-6 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -35px auto 0 425px;
  padding: 0;
}

.u-section-6 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -22px 430px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-blog-1 {
    height: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 321px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-left: 321px;
  }

  .u-section-6 .u-metadata-1 {
    width: auto;
    margin-top: 17px;
    margin-right: 258px;
    margin-left: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 258px;
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 321px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: 321px;
  }

  .u-section-6 .u-metadata-2 {
    width: auto;
    margin-top: 17px;
    margin-right: 258px;
    margin-left: auto;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 258px;
    margin-left: auto;
    padding: 6px 15px 7px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-left: 321px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-left: 321px;
  }

  .u-section-6 .u-metadata-3 {
    width: auto;
    margin-top: 17px;
    margin-right: 258px;
    margin-left: auto;
  }

  .u-section-6 .u-btn-3 {
    margin-right: 258px;
    margin-left: auto;
    padding: 7px 15px 8px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: 225px;
  }

  .u-section-6 .u-btn-5 {
    margin-right: 230px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-blog-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 333px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 333px;
  }

  .u-section-6 .u-metadata-1 {
    margin-top: 22px;
    margin-right: 207px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 12px;
    margin-right: 207px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 333px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 333px;
  }

  .u-section-6 .u-metadata-2 {
    margin-top: 22px;
    margin-right: 207px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 12px;
    margin-right: 207px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 333px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
    margin-left: 333px;
  }

  .u-section-6 .u-metadata-3 {
    margin-top: 22px;
    margin-right: 207px;
  }

  .u-section-6 .u-btn-3 {
    margin-top: 12px;
    margin-right: 207px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: 5px;
  }

  .u-section-6 .u-btn-5 {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-blog-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 230px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 252px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 252px;
  }

  .u-section-6 .u-metadata-1 {
    margin-top: 21px;
    margin-right: 148px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 148px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    width: 230px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 252px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 252px;
  }

  .u-section-6 .u-metadata-2 {
    margin-top: 21px;
    margin-right: 148px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 148px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    width: 230px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 252px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 252px;
  }

  .u-section-6 .u-metadata-3 {
    margin-top: 21px;
    margin-right: 148px;
  }

  .u-section-6 .u-btn-3 {
    margin-right: 148px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-blog-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 129px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 148px;
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-3 {
    margin-top: 21px;
    margin-left: 150px;
  }

  .u-section-6 .u-metadata-1 {
    margin-top: 22px;
    margin-right: 50px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 50px;
  }

  .u-section-6 .u-image-2 {
    width: 129px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 148px;
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-5 {
    margin-top: 21px;
    margin-left: 150px;
  }

  .u-section-6 .u-metadata-2 {
    margin-top: 22px;
    margin-right: 50px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 50px;
  }

  .u-section-6 .u-image-3 {
    width: 129px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 148px;
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-7 {
    margin-top: 21px;
    margin-left: 150px;
  }

  .u-section-6 .u-metadata-3 {
    margin-top: 22px;
    margin-right: 50px;
  }

  .u-section-6 .u-btn-3 {
    margin-right: 50px;
  }

  .u-section-6 .u-table-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 672px;
}

.u-section-7 .u-icon-1 {
  width: 32px;
  height: 32px;
  color: rgb(0, 0, 0) !important;
  margin: 51px auto 0 538px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 22px auto 0;
}

.u-section-7 .u-form-1 {
  height: 295px;
  width: 570px;
  margin: 60px auto;
}

.u-section-7 .u-form-group-1 {
  margin-left: 0;
}

.u-section-7 .u-form-group-2 {
  margin-left: 0;
}

.u-section-7 .u-form-group-4 {
  margin-left: 0;
}

.u-section-7 .u-form-group-6 {
  margin-left: 0;
}

.u-section-7 .u-btn-1 {
  width: 100%;
  background-image: none;
  border-style: none;
  padding: 10px 30px 10px 29px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-icon-1 {
    margin-left: 444px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-icon-1 {
    margin-left: 340px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-icon-1 {
    margin-left: 255px;
  }

  .u-section-7 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-7 .u-form-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 649px;
}

.u-section-8 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 37px auto 0 522px;
}

.u-section-8 .u-text-1 {
  margin: 37px auto 0 447px;
}

.u-section-8 .u-form-1 {
  height: 277px;
  width: 566px;
  margin: 80px auto 0;
}

.u-section-8 .u-input-1 {
  background-image: none;
}

.u-section-8 .u-input-2 {
  background-image: none;
}

.u-section-8 .u-btn-1 {
  width: 100%;
  background-image: none;
  border-style: none;
  padding: 10px 31px 10px 29px;
}

.u-section-8 .u-btn-2 {
  border-style: none none solid;
  align-self: center;
  margin: 25px auto 0 285px;
  padding: 0;
}

.u-section-8 .u-btn-3 {
  border-style: none none solid;
  margin: -26px 285px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-icon-1 {
    margin-left: 430px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 369px;
  }

  .u-section-8 .u-btn-2 {
    margin-left: 85px;
  }

  .u-section-8 .u-btn-3 {
    margin-right: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-icon-1 {
    margin-left: 329px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 283px;
  }

  .u-section-8 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-icon-1 {
    margin-left: 247px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 212px;
  }

  .u-section-8 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-icon-1 {
    margin-left: 156px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 133px;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 286px;
}

.u-section-9 .u-group-1 {
  width: 747px;
  min-height: 207px;
  margin: 40px auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-9 .u-text-1 {
  font-weight: normal;
  margin: 20px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 720px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 340px;
  }
} .u-section-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/rwe4-min.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 286px;
}

.u-section-10 .u-form-1 {
  height: 68px;
  width: 773px;
  margin: 60px auto;
}

.u-section-10 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-10 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-10 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-10 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 86px;
  }

  .u-section-10 .u-form-1 {
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 118px;
}

.u-section-11 .u-form-1 {
  height: 70px;
  margin: 21px 184px 0 236px;
}

.u-section-11 .u-form-group-1 {
  margin-left: 0;
}

.u-section-11 .u-btn-1 {
  font-size: 1.125rem;
  width: 100%;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-11 .u-image-1 {
  width: 38px;
  height: 38px;
  margin: -54px auto 42px 184px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-form-1 {
    width: 470px;
    margin-right: 84px;
    margin-left: 136px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-form-1 {
    width: 340px;
  }
} .u-section-12 {
  background-image: url("images/rwe4-min1.jpg");
  min-height: 286px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-12 {
    min-height: 236px;
  }
}

@media (max-width: 991px) {
   .u-section-12 {
    min-height: 181px;
  }
}

@media (max-width: 767px) {
   .u-section-12 {
    min-height: 136px;
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    min-height: 86px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 933px;
}

.u-section-13 .u-post-details-1 {
  min-height: 849px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13 .u-image-1 {
  height: 486px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-13 .u-text-1 {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-13 .u-btn-1 {
  border-style: solid;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 32px auto 0 20px;
  padding: 0 8px;
}

.u-section-13 .u-icon-1 {
  font-size: 0.75em;
}

.u-section-13 .u-metadata-1 {
  margin: -26px auto 0 185px;
}

.u-section-13 .u-text-2 {
  margin: -26px auto 0 64px;
}

.u-section-13 .u-text-3 {
  margin-bottom: 0;
  margin-top: 74px;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-image-1 {
    margin-left: initial;
  }

  .u-section-13 .u-btn-1 {
    margin-top: 40px;
    margin-left: 0;
  }

  .u-section-13 .u-metadata-1 {
    margin-top: -34px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-btn-1 {
    margin-top: 91px;
  }

  .u-section-13 .u-metadata-1 {
    margin-top: -85px;
  }
}

.u-section-13 .u-btn-1,
.u-section-13 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-13 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}.u-section-14 .u-sheet-1 {
  min-height: 401px;
}

.u-section-14 .u-text-1 {
  font-size: 1.875rem;
  margin: 56px auto 0;
}

.u-section-14 .u-layout-wrap-1 {
  width: 809px;
  margin: 15px auto 1px;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 15px;
}

.u-section-14 .u-container-layout-1 {
  padding: 0 16px;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 15px;
}

.u-section-14 .u-container-layout-2 {
  padding: 3px 30px 0;
}

.u-section-14 .u-layout-cell-3 {
  min-height: 281px;
}

.u-section-14 .u-container-layout-3 {
  padding: 6px 30px;
}

.u-section-14 .u-form-1 {
  height: 256px;
  margin: 0 15px 0 0;
}

.u-section-14 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-14 .u-layout-wrap-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 13px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 13px;
  }

  .u-section-14 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-14 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 53px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 12px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-14 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 33px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 8px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 622px;
}

.u-section-15 .u-blog-1 {
  width: 759px;
  margin: 44px auto;
}

.u-section-15 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 478px;
}

.u-section-15 .u-container-layout-1 {
  padding: 0;
}

.u-section-15 .u-metadata-1 {
  margin: 14px auto 0 38px;
}

.u-section-15 .u-image-1 {
  height: 51px;
  width: 52px;
  margin: 12px auto 0 38px;
}

.u-section-15 .u-text-1 {
  font-weight: normal;
  margin: -51px 299px 0 102px;
}

.u-section-15 .u-text-2 {
  margin: 5px 55px 0 102px;
}

.u-section-15 .u-container-layout-2 {
  padding: 0;
}

.u-section-15 .u-metadata-2 {
  margin: 14px auto 0 38px;
}

.u-section-15 .u-image-2 {
  height: 51px;
  width: 52px;
  margin: 12px auto 0 38px;
}

.u-section-15 .u-text-3 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: -51px 299px 0 102px;
}

.u-section-15 .u-text-4 {
  margin: 5px 55px 0 102px;
}

.u-section-15 .u-container-layout-3 {
  padding: 0;
}

.u-section-15 .u-metadata-3 {
  margin: 14px auto 0 38px;
}

.u-section-15 .u-image-3 {
  height: 51px;
  width: 52px;
  margin: 12px auto 0 38px;
}

.u-section-15 .u-text-5 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: -51px 299px 0 102px;
}

.u-section-15 .u-text-6 {
  margin: 5px 55px 0 102px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-blog-1 {
    height: auto;
  }

  .u-section-15 .u-metadata-1 {
    width: auto;
    margin-top: 226px;
    margin-right: 258px;
  }

  .u-section-15 .u-image-1 {
    margin-top: -200px;
  }

  .u-section-15 .u-text-1 {
    width: auto;
    margin-top: 55px;
    margin-left: 321px;
  }

  .u-section-15 .u-text-2 {
    width: auto;
    margin-top: -78px;
    margin-left: 321px;
  }

  .u-section-15 .u-metadata-2 {
    width: auto;
    margin-top: 17px;
    margin-right: 258px;
  }

  .u-section-15 .u-text-3 {
    width: auto;
    margin-left: 321px;
  }

  .u-section-15 .u-text-4 {
    width: auto;
    margin-left: 321px;
  }

  .u-section-15 .u-metadata-3 {
    width: auto;
    margin-top: 17px;
    margin-right: 258px;
  }

  .u-section-15 .u-text-5 {
    width: auto;
    margin-left: 321px;
  }

  .u-section-15 .u-text-6 {
    width: auto;
    margin-left: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-blog-1 {
    width: 720px;
  }

  .u-section-15 .u-metadata-1 {
    margin-right: 207px;
  }

  .u-section-15 .u-text-1 {
    margin-right: 280px;
    margin-left: 333px;
  }

  .u-section-15 .u-text-2 {
    margin-top: -24px;
    margin-right: 36px;
    margin-left: 333px;
  }

  .u-section-15 .u-metadata-2 {
    margin-top: 14px;
    margin-right: 207px;
    margin-left: 0;
  }

  .u-section-15 .u-image-2 {
    margin-left: 0;
  }

  .u-section-15 .u-text-3 {
    margin-right: 280px;
    margin-left: 333px;
  }

  .u-section-15 .u-text-4 {
    margin-right: 35px;
    margin-left: 333px;
  }

  .u-section-15 .u-metadata-3 {
    margin-top: 14px;
    margin-right: 207px;
    margin-left: 0;
  }

  .u-section-15 .u-image-3 {
    margin-left: 0;
  }

  .u-section-15 .u-text-5 {
    margin-right: 280px;
    margin-left: 333px;
  }

  .u-section-15 .u-text-6 {
    margin-right: 35px;
    margin-left: 333px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-blog-1 {
    width: 540px;
  }

  .u-section-15 .u-metadata-1 {
    margin-right: 148px;
  }

  .u-section-15 .u-image-1 {
    width: 230px;
  }

  .u-section-15 .u-text-1 {
    margin-right: 183px;
    margin-left: 252px;
  }

  .u-section-15 .u-text-2 {
    margin-top: -103px;
    margin-right: 0;
    margin-left: 252px;
  }

  .u-section-15 .u-metadata-2 {
    margin-top: 21px;
    margin-right: 148px;
  }

  .u-section-15 .u-image-2 {
    width: 230px;
  }

  .u-section-15 .u-text-3 {
    margin-right: 183px;
    margin-left: 252px;
  }

  .u-section-15 .u-text-4 {
    margin-right: 0;
    margin-left: 252px;
  }

  .u-section-15 .u-metadata-3 {
    margin-top: 21px;
    margin-right: 148px;
  }

  .u-section-15 .u-image-3 {
    width: 230px;
  }

  .u-section-15 .u-text-5 {
    margin-right: 183px;
    margin-left: 252px;
  }

  .u-section-15 .u-text-6 {
    margin-right: 0;
    margin-left: 252px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-blog-1 {
    width: 340px;
  }

  .u-section-15 .u-metadata-1 {
    margin-top: 350px;
    margin-right: 50px;
  }

  .u-section-15 .u-image-1 {
    width: 129px;
    margin-top: -230px;
  }

  .u-section-15 .u-text-1 {
    margin-right: 0;
    margin-left: 148px;
  }

  .u-section-15 .u-text-2 {
    margin-top: -36px;
    margin-left: 150px;
  }

  .u-section-15 .u-metadata-2 {
    margin-top: 14px;
    margin-right: 50px;
  }

  .u-section-15 .u-image-2 {
    width: 129px;
  }

  .u-section-15 .u-text-3 {
    margin-right: 0;
    margin-left: 148px;
    font-size: 1.5rem;
  }

  .u-section-15 .u-text-4 {
    margin-top: 21px;
    margin-left: 150px;
  }

  .u-section-15 .u-metadata-3 {
    margin-top: 14px;
    margin-right: 50px;
  }

  .u-section-15 .u-image-3 {
    width: 129px;
  }

  .u-section-15 .u-text-5 {
    margin-right: 0;
    margin-left: 148px;
    font-size: 1.5rem;
  }

  .u-section-15 .u-text-6 {
    margin-top: 21px;
    margin-left: 150px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 372px;
}

.u-section-16 .u-text-1 {
  margin: 60px auto 0 399px;
}

.u-section-16 .u-table-1 {
  margin-bottom: 0;
  margin-top: 61px;
  height: 148px;
}

.u-block-0e5b-10 {
  height: 46px;
}

.u-section-16 .u-table-cell-1 {
  margin-bottom: 0;
}

.u-block-0e5b-21 {
  height: 46px;
}

.u-section-16 .u-table-2 {
  width: 1103px;
  height: 138px;
  margin: -138px auto 0;
}

.u-block-0e5b-31 {
  height: 46px;
}

.u-section-16 .u-table-cell-3 {
  margin-bottom: 0;
}

.u-section-16 .u-table-cell-4 {
  margin-top: 20px;
}

.u-block-0e5b-43 {
  height: 46px;
}

.u-section-16 .u-table-3 {
  width: 800px;
  height: 116px;
  margin: -120px auto 0;
}

.u-block-0e5b-54 {
  height: 46px;
}

.u-section-16 .u-table-cell-5 {
  margin-bottom: 0;
}

.u-block-0e5b-60 {
  height: 46px;
}

.u-section-16 .u-text-2 {
  margin: -105px auto 0 185px;
}

.u-section-16 .u-text-3 {
  margin: 18px auto 0 185px;
}

.u-section-16 .u-image-1 {
  width: 132px;
  height: 122px;
  margin: -91px auto 0 26px;
}

.u-section-16 .u-table-4 {
  width: 88px;
  height: 92px;
  margin: -101px auto 0 1014px;
}

.u-block-0e5b-72 {
  height: 46px;
}

.u-section-16 .u-table-cell-7 {
  margin-bottom: 0;
}

.u-block-0e5b-78 {
  height: 46px;
}

.u-section-16 .u-text-4 {
  font-weight: 700;
  margin: -79px auto 0 1031px;
}

.u-section-16 .u-text-5 {
  font-weight: 700;
  margin: 18px auto 91px 1021px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-text-1 {
    margin-left: 329px;
  }

  .u-section-16 .u-table-2 {
    width: 940px;
  }

  .u-section-16 .u-image-1 {
    height: 123px;
  }

  .u-section-16 .u-table-4 {
    margin-top: -102px;
    margin-left: 852px;
  }

  .u-section-16 .u-text-4 {
    margin-left: 850px;
  }

  .u-section-16 .u-text-5 {
    margin-left: 842px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-text-1 {
    margin-left: 252px;
  }

  .u-section-16 .u-table-2 {
    width: 720px;
  }

  .u-section-16 .u-table-3 {
    width: 720px;
  }

  .u-section-16 .u-table-4 {
    margin-left: 632px;
  }

  .u-section-16 .u-text-4 {
    margin-left: 651px;
  }

  .u-section-16 .u-text-5 {
    margin-left: 645px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-text-1 {
    margin-left: 189px;
  }

  .u-section-16 .u-table-2 {
    width: 540px;
  }

  .u-section-16 .u-table-3 {
    width: 540px;
  }

  .u-section-16 .u-text-2 {
    margin-left: 139px;
  }

  .u-section-16 .u-text-3 {
    margin-left: 139px;
  }

  .u-section-16 .u-table-4 {
    margin-left: 452px;
  }

  .u-section-16 .u-text-4 {
    margin-left: 488px;
  }

  .u-section-16 .u-text-5 {
    margin-bottom: 60px;
    margin-left: 484px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-text-1 {
    margin-left: 119px;
  }

  .u-section-16 .u-table-2 {
    width: 340px;
  }

  .u-section-16 .u-table-3 {
    width: 340px;
  }

  .u-section-16 .u-text-2 {
    margin-left: 88px;
  }

  .u-section-16 .u-text-3 {
    margin-left: 88px;
  }

  .u-section-16 .u-table-4 {
    margin-left: 252px;
  }

  .u-section-16 .u-text-4 {
    margin-left: 307px;
  }

  .u-section-16 .u-text-5 {
    margin-left: 305px;
  }
}