{% extends 'base.html' %}
{% load static %}

{% block img %}

<section class="u-align-center u-clearfix u-image u-section-1" id="carousel_4bc8" data-image-width="1280" data-image-height="720">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div id="carousel-5989" data-interval="5000" data-u-ride="carousel" class="u-carousel u-expanded-width-xs u-slider u-slider-1">
          <ol class="u-carousel-indicators u-carousel-indicators-1">
            <li data-u-target="#carousel-5989" class="u-active u-grey-30 u-shape-circle" data-u-slide-to="0" style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-5989" class="u-grey-30 u-shape-circle" data-u-slide-to="1" style="width: 10px; height: 10px;"></li>
          </ol>
          <div class="u-carousel-inner" role="listbox">
            <div class="u-active u-align-center u-carousel-item u-container-style u-slide u-white u-carousel-item-1">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <div alt="" class="u-image u-image-circle u-image-1" data-image-width="1280" data-image-height="720"></div>
                <p class="u-large-text u-text u-text-variant u-text-1"> Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.<br>
                  <br>Actualmente, el mundo se enfrenta a una&nbsp;crisis sanitaria mundial&nbsp;sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizando la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.<br>
                  <br>
                </p>
                <h6 class="u-text u-text-2">ODS Salud</h6>
              </div>
            </div>
            <div class="u-align-center u-carousel-item u-container-style u-slide u-white u-carousel-item-2">
              <div class="u-container-layout u-valign-top u-container-layout-2">
                <div alt="" class="u-image u-image-circle u-image-2" data-image-width="1600" data-image-height="900"></div>
                <p class="u-large-text u-text u-text-variant u-text-3"> Objetivo 1 ​Para 2030, erradicar la pobreza extrema para todas las personas en el mundo, actualmente medida por un ingreso por persona inferior a 1,25 dólares al día.<br>Para 2030, reducir al menos a la mitad la proporción de hombres, mujeres y niños y niñas de todas las edades que viven en la pobreza en todas sus dimensiones con arreglo a las definiciones nacionales.<br>
                </p>
                <h6 class="u-text u-text-4">ODS Pobreza</h6>
              </div>
            </div>
          </div>
          <a class="u-absolute-vcenter-lg u-absolute-vcenter-md u-absolute-vcenter-xl u-carousel-control u-carousel-control-prev u-grey-10 u-hover-grey-25 u-spacing-10 u-text-body-color u-carousel-control-1" href="#carousel-5989" role="button" data-u-slide="prev">
            <span aria-hidden="true">
              <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
        c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
        c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
            </span>
          </a>
          <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-10 u-hover-grey-25 u-spacing-10 u-text-body-color u-carousel-control-2" href="#carousel-5989" role="button" data-u-slide="next">
            <span aria-hidden="true">
              <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
        c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
        c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
            </span>
          </a>
        </div>
      </div>
    </section>


{% endblock img %}

<br>
<br>
<br>
<br>

{% block contenido %}

<br>
<br>
<br>
<br>
<br>

  <section class="u-clearfix u-section-4" id="sec-55b7">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-default u-title u-text-1">Post con más likes </h1>
        <div class="u-layout-horizontal u-list u-list-1">
          <div class="u-repeater u-repeater-1">

          {% if post %} 

                {% for post in post %} 

            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="2000" data-image-height="1333" src={{ post.imagen.url }}>
                <h3 class="u-text u-text-default u-text-2">{{post.titulo}}</h3>
                <p class="u-text u-text-3">{{post.descripcion}}</p>
                <a href="{% url 'post:detalle' post.pk %}" class="u-active-none u-border-2 u-border-hover-palette-2-base u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-1">Más</a><p class="u-text u-text-3"></p>



              </div>
            </div> 

                {% endfor %}

                    {% else %}

                        <h2> No existen Post</h2>

                    {% endif %}

          </div>
        </div>
      </div>
    </section>


    <section class="u-clearfix u-section-5" id="carousel_6350">
      <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-size-35">
                  <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-grey-15 u-layout-cell u-left-cell u-size-60 u-layout-cell-1" src="">
                      <div class="u-container-layout u-valign-middle u-container-layout-1" src="">
                        <h2 class="u-custom-font u-font-lato u-text u-text-1"> Objetivo 6: Garantizar la disponibilidad de agua y su gestión sostenible</h2>
                        <p class="u-text u-text-2">Si bien se ha conseguido progresar de manera sustancial a la hora de ampliar el acceso a agua potable y saneamiento, existen miles de millones de personas (principalmente en áreas rurales) que aún carecen de estos servicios básicos.</p>
                        <a href="/post/listarPostObjetivos/6" class="u-active-black u-border-none u-btn u-button-style u-hover-black u-palette-2-base u-btn-1">Más</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="u-size-25">
                  <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-palette-3-base u-size-27 u-layout-cell-2">
                      <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h3 class="u-text u-text-3"> Hoy y todos los días, seguiremos trabajando por la justicia, la igualdad, la dignidad y los derechos humanos para todo el mundo.</h3>
                        <p class="u-text u-text-4"> - António Guterres, Secretario General de la ONU</p>
                      </div>
                    </div>
                    <div class="u-align-left u-container-style u-image u-layout-cell u-size-33 u-image-1" src="" data-image-width="768" data-image-height="512">
                      <div class="u-container-layout u-container-layout-3" src=""></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-align-left u-black u-container-style u-layout-cell u-right-cell u-size-25 u-layout-cell-4">
                  <div class="u-container-layout u-valign-middle u-container-layout-4">
                    <h3 class="u-text u-text-5"> Objetivo 8: Promover el crecimiento económico inclusivo y sostenible</h3>
                    <p class="u-text u-text-6">Un crecimiento económico inclusivo y sostenido puede impulsar el progreso, crear empleos decentes para todos y mejorar los estándares de vida.</p>
                    
                  </div>
                </div>
                <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-35 u-image-2" src="" data-image-width="1140" data-image-height="428">
                  <div class="u-container-layout u-container-layout-5" src=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<br>
<br>
<br>
<br>
  <section class="u-clearfix u-section-4" id="sec-55b7">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-default u-title u-text-1">Últimos Post </h1>
        <div class="u-layout-horizontal u-list u-list-1">
          <div class="u-repeater u-repeater-1">

          {% if ultimos_post %} 

                {% for post in ultimos_post %} 

            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="2000" data-image-height="1333" src={{ post.imagen.url }}>
                <h3 class="u-text u-text-default u-text-2">{{post.titulo}}</h3>
                <p class="u-text u-text-3">{{post.descripcion}}</p>
                <a href="{% url 'post:detalle' post.pk %}" class="u-active-none u-border-2 u-border-hover-palette-2-base u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-1">Más</a><p class="u-text u-text-3"></p>



              </div>
            </div> 

      {% endfor %}

        {% else %}

          <h2> No existen Post</h2>

      {% endif %}

          </div>
        </div>
      </div>
    </section>




{% endblock contenido %}