{% extends 'base.html' %}
{% load static %}

{% block titulo %}<title>Listar Post</title>{% endblock titulo %}

{% block img %}
 
      <section class="u-align-center u-clearfix u-image u-shading u-section-10" src="" data-image-width="1600" data-image-height="800" id="sec-5e29">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-form u-form-1">
            <form method="get">
                <div id="custom-search-input">
                                               
                  <select id="select-f1e0" name="select" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" value = "{{ request.GET.select }}">
                  <option value="1" name="usuario" >Ordenar por objetivo</option>
                  <option value="2"name="fecha">Ordenar por fecha de creación</option>
                  <option value="3"name="comentarios">Ordenar por más comentados</option>
                  
                </select>
                   <span class="input-group-list">
                    
                      <button type="submit" <a class="u-black u-border-none u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-btn-1">Filtrar</button>
                     </div>
                   </div>
                 </section>

{% endblock img %}



{% block estilo %}{% endblock estilo %}

{% block contenido %}




    <section class="u-align-center u-clearfix u-section-6" id="carousel_f63d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-text u-text-default u-text-1"> &nbsp;Publicaciones sobre los objetivos de la ONU<span style="font-weight: 400;"></span>
 </h3><!--blog--><!--blog_options_json--><!--{"type":"Custom","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-blog u-pagination-center u-blog-1">
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1"><!--blog_post-->

          {% if posts %} <!-- vamos a preguntar si existen post-->

                {% for post in posts %} <!-- crea un ciclo para mostrar todos los post-->



            <div class="u-blog-post u-container-style u-palette-5-light-3 u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-bottom-xs u-container-layout-1">

                <a class="u-post-header-link" href="{% url 'post:detalle' post.pk %}">
                  <!--blog_post_image-->
                  <img src={{ post.imagen.url }} alt="" class="u-blog-control u-image u-image-default u-image-1">
                  <!--/blog_post_image-->

                </a><!--blog_post_header-->
                <h2 class="u-blog-control u-text u-text-2">
                  <a class="u-post-header-link" href="{% url 'post:detalle' post.pk %}">
                    <!--blog_post_header_content-->{{ post.titulo }}<!--/blog_post_header_content--></a>
                </h2><!--/blog_post_header--><!--blog_post_content-->
                <div class="u-blog-control u-post-content u-text u-text-3">
                  <!--blog_post_content_content-->{{ post.descripcion }}<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_metadata-->

                <div class="u-blog-control u-metadata u-metadata-1"><!--blog_post_metadata_date-->
                  <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content--> {{ post.fecha_creacion }} Escrito por  <strong>{{post.user}}</strong><!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date-->
                </div><!--/blog_post_metadata--><!--blog_post_readmore-->
                <a href="{% url 'post:detalle' post.pk %}" class="u-black u-blog-control u-border-none u-btn u-button-style u-hover-palette-1-dark-1 u-btn-1"><!--blog_post_readmore_content--><!--options_json--><!--{"content":"Read More"}--><!--/options_json-->Ver más<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
              </div>
            </div><!--/blog_post--><!--blog_post-->



                    {% endfor %}

                    {% else %}

                        <h2> No existen Post</h2>

                    {% endif %}

       </div>

<div class="u-list-control">
            
          </div>
        </div><!--/blog-->
        <div class="u-align-center u-table u-table-responsive u-table-1">
          <table class="u-table-entity">
            <colgroup>
              <col width="49.9%">
              <col width="50.1%">
            </colgroup>
            <tbody class="u-table-body">
              <tr style="height: 46px;">
                <td class="u-table-cell"></td>
                <td class="u-table-cell"></td>
              </tr>
            </tbody>
          </table>
        </div>

          {% if posts.has_previous %}

        <a href="?page={{ posts.previous_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="u-btn u-button-style u-none u-text-hover-palette-2-base u-text-palette-1-base u-btn-4">&nbsp; &nbsp;〈  Anterior </a>
        {% endif %}

        {% if posts.has_next %}

        <a href="?page={{ posts.next_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="u-btn u-button-style u-none u-text-hover-palette-2-base u-text-palette-1-base u-btn-5">Siguiente 〉&nbsp; </a>
        {% endif %}
      </div>


    </section>

<br>
<br>
<br>
<br>



{% endblock contenido %}