{% extends 'base.html' %}
{% load static %}

{% block contenido %}

{% if objetivos %} <!-- vamos a preguntar si existen post-->

  {% for obj in objetivos %}


    <section class="u-clearfix u-section-2" id="sec-8d0b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-3 u-border-grey-10 u-container-style u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <img class="u-image u-image-default u-image-1" src= {{ obj.imagen.url }} alt="" data-image-width="720" data-image-height="392">
            <h2 class="u-align-left u-text u-text-default u-text-1"> <center>{{ obj.nombre }}</center></h2>
            <p class="u-align-center u-text u-text-2">{{ obj.descripcion }}</p>
            <a href="{% url 'post:listarPostObjetivos' obj.pk %}" class="u-btn u-button-style u-grey-90 u-btn-1">Ver Post</a>
       
        </div>
        </div>
        
            {% endfor %}
 
    {% else %}

      <h2> No existen Objetivos</h2>

    {% endif %}

</div>
<div class="u-list-control">
            
          </div>
        </div>
        <div class="u-align-center u-table u-table-responsive u-table-1">
          <table class="u-table-entity">
            <colgroup>
              <col width="49.9%">
              <col width="50.1%">
            </colgroup>
            <tbody class="u-table-body">
              <tr style="height: 46px;">
                <td class="u-table-cell"></td>
                <td class="u-table-cell"></td>
              </tr>
            </tbody>
          </table>
        </div>
</div>

</section>
          {% if objetivos.has_previous %}

        <a style='text-align:right' href="?page={{ objetivos.previous_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="u-btn u-button-style u-none u-text-hover-palette-2-base u-text-palette-1-base u-btn-4">&nbsp; &nbsp;〈  Anterior </a>
        {% endif %}

        {% if objetivos.has_next %}

        <a style='text-align:left' href="?page={{ objetivos.next_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="u-btn u-button-style u-none u-text-hover-palette-2-base u-text-palette-1-base u-btn-5">Siguiente 〉&nbsp; </a>
        {% endif %}
     
    

 


{% endblock contenido %}