
{% extends 'base.html' %}

{% block contenido %}

<br> 
<br> 
<center>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h2 class=" my-5">Eliminar post</h2>
      <form method="POST">
        {% csrf_token %}
        <p>¿Estás seguro de que quieres eliminarlo?</p>

      <class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
       <div class="u-align-center u-form-group u-form-submit">
        <button type="submit" class="u-black u-border-none u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-btn-1"class="u-form-control-hidden">Eliminar Post
        </button>
         </div>
      </form>
    </div>
  </div>
</div>
</center>
<br> 
<br> 
{% endblock contenido %}